<%= link_to 'Главная', root_path %>

<h1>Список всех станций</h1>

<table>
  <thead>
    <tr>
      <th>Название станции</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <%= render @railway_stations %>
  </tbody>
</table>

<br>

<%= link_to 'Новая Станция', new_admin_railway_station_path %><br>

