<p>Привет <%= @user.email %></p>
<p>Вы Купили билет по марщруту "<%= @ticket.route_name %>" </p>
<p>Посмотреть билет вы можете <%= link_to "здесь", @ticket  %></p>
<p>Вск свои билеты вы можете просмотреть <%= link_to "здесь", tickets_url %></p>