<p id="notice"><%= notice %></p>

<h1>Все вагоны</h1>

<table>
  <thead>
    <tr>
      <th>Вагон:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @carriages %>
  </tbody>
</table>

<br>

<%= link_to 'Создать новый вагон', new_carriage_path %><br>

<%= link_to 'Главная', root_path %>
